
<h1>Log in</h1>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="content">
    <%= f.input :email, required: false, autofocus: true, input_html: { placeholder: "email" } %>
    <%= f.input :password, required: false, input_html: { placeholder: "password" } %>
    <!-- <%# f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
  </div>

  <div class="footer">
    <button type="submit" name="commit" class="btn-1">login</button>
  </div>
<% end %>

<%# render "users/shared/links" %>

<span>not a member? <a href="<%= new_user_registration_path %>">signup</a></span>
