<html>
<head></head>

<body>
  Once you've dropped the pet off at a shelter, let us help you create flyers for them:

  <form action="" method="get"> <!-- what is the action?? -->
    <label>Your Best Guess Regarding Species</label>
    <select id="breed">
      <optgroup label="Cats">
        <option value="domestic_long_haired">Domestic Long-Haired</option>
        <option value="domestic_short_haired">Domestic Short-Haired</option>
        <option value="himalayan">Himalayan</option>
        <option value="persy">Persian</option>
        <option value="siamese">Siamese</option>
      </optgroup>
      <optgroup label="Dogs">
        <option value="australian_shepherd">Australian Shepherd</option>
        <option value="beagle">Beagle</option>
        <option value="boston_terrier">Boston Terrier</option>
        <option value="boxer">Boxer</option>
        <option value="bulldog">Bulldog</option>
        <option value="charles_spaniel">Cavalier King Charles Spaniel</option>
        <option value="dachshund">Dachshund</option>
        <option value="doberman_pinscher">Doberman Pinscher</option>
        <option value="french_bulldog">French Bulldog</option>
        <option value="german_shepherd">German Shepherd</option>
        <option value="golden">Golden Retriever</option>
        <option value="havanse">Havanse</option>
        <option value="lab">Labrador Retriever</option>
        <option value="mastiff">Mastiff</option>
        <option value="mini_schnauzer">Miniature Schnauzer</option>
        <option value="pembroke_welsh">Pembroke Welsh Corgi</option>
        <option value="pointer">Pointer</option>
        <option value="pomeranian">Pomeranian</option>
        <option value="poodle">Poodle</option>
        <option value="rottweiler">Rottweiler</option>
        <option value="shetland_sheepdog">Shetland Sheepdog</option>
        <option value="shih_tzu">Shih Tzu</option>
        <option value="siberian_husky">Siberian Husky</option>
        <option value="yorkshire_terrier">Yorkshire Terrier</option>
        <option value="other">Other</option>
      </optgroup>
    </select>

    <label for="color">Color</label>
    <input id="color" type="text">

    <label for="location">Shelter address</label>
    <input id="location" type="text">

    <label for="date">Date found</label>
    <input id="date" type="date">

    <label for="additional_notes">Please include any additional information that may be helpful in finding the pet's home</label>
    <input id="additional_notes" type="textbox">

    <label for="image">Upload an image to an image hosting website (like google+ photos, flickr, imgur, etc) and paste the url here:</label>
    <input id="image" type="text">

    <input type="submit">


  </form>


</body>

</html>
