
  <p>
    Once you've dropped the pet off at a shelter, let us help you create flyers for them:
  </p>

  <form action=<%= found_submit_path %> method="get">
    <div class="content">
      <select name="breed" id="breed">
        <option value="" disabled selected>Select Breed</option>
        <optgroup label="Cats">
          <option value="Domestic Long-Haired">Domestic Long-Haired</option>
          <option value="Domestic Short-Haired">Domestic Short-Haired</option>
          <option value="Himalayan">Himalayan</option>
          <option value="Persian">Persian</option>
          <option value="Siamese">Siamese</option>
        </optgroup>
        <optgroup label="Dogs">
          <option value="Australian Shepherd">Australian Shepherd</option>
          <option value="Beagle">Beagle</option>
          <option value="Boston Terrier">Boston Terrier</option>
          <option value="Boxer">Boxer</option>
          <option value="Bulldog">Bulldog</option>
          <option value="Cavalier King Charles Spaniel">Cavalier King Charles Spaniel</option>
          <option value="Dachshund">Dachshund</option>
          <option value="Doberman Pinscher">Doberman Pinscher</option>
          <option value="French Bulldog">French Bulldog</option>
          <option value="German Shepherd">German Shepherd</option>
          <option value="Golden Retriever">Golden Retriever</option>
          <option value="Havanse">Havanse</option>
          <option value="Labrador Retriever">Labrador Retriever</option>
          <option value="Mastiff">Mastiff</option>
          <option value="Miniature Schnauzer">Miniature Schnauzer</option>
          <option value="Pembroke Welsh Corgi">Pembroke Welsh Corgi</option>
          <option value="Pointer">Pointer</option>
          <option value="Pomeranian">Pomeranian</option>
          <option value="Poodle">Poodle</option>
          <option value="Rottweiler">Rottweiler</option>
          <option value="Shetland Sheepdog">Shetland Sheepdog</option>
          <option value="Shih Tzu">Shih Tzu</option>
          <option value="Siberian Husky">Siberian Husky</option>
          <option value="Yorkshire Terrier">Yorkshire Terrier</option>
        </optgroup>
      </select>



      <label for="color">Color</label>
      <input id="color" name="color" type="text" placeholder="color">

      <label for="shelter_name">Shelter name</label>
      <input name="shelter_name" id="shelter_name" type="text" placeholder="shelter_name">

      <label for="location">Shelter address</label>
      <input name="location" id="location" type="text" placeholder="location">

      <label for="date">Date found</label>
      <input name="date" id="date" type="date" placeholder="date">

      <label for="additional_notes">Please include any additional information that may be helpful in finding the pet's home</label>
      <input name="additional_notes" id="additional_notes" type="textbox" placeholder="additional_notes">

      <span for="image_url">Upload an image to an image hosting website (like google+ photos, flickr, imgur, etc) and paste the url here:</span>
      <input name="image_url" id="image_url" type="text" placeholder="url">
    </div>

    <div class="footer">
      <button type="submit" name="commit" class="btn-1">create</button>
    </div>


  </form>
