<p id="notice"><%= notice %></p>

<div class="posts-index-left">
  <div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
  </div>
</div>
<div class="posts-index-right">
  <h1>Active Alerts</h1>
  <%= render partial: 'index', locals: { posts: @posts } %>
</div>
