<html>
<head></head>

<body>
<h1>Found a pet?  Here are a few tips:</h1>

<a href="http://www.americanhumane.org/animals/adoption-pet-care/caring-for-your-pet/if-you-find-a-lost-pet.html?referrer=https://www.google.com/">
What to do if you find a lost pet</a>
<br>
<link_to "Create a pdf for the lost pet", found_form_path>

<a href="http://www.humanesociety.org/news/magazines/2016/07-08/mystery-cat-tips.html?credit=web_id93480558">Not sure if a cat's lost?  What to do if you meet a 'mystery' cat</a>
<br>

<a href="http://www.humanesociety.org/issues/abuse_neglect/tips/cruelty_action.html?credit=web_id93480558_web_globalfooter">How to recognize and report animal cruelty</a>
</body>
</html>

