// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans|Varela+Round';


/* content */

main {
  font-family: 'Open Sans', sans-serif;
  color: $brown;
}

.post-show-box { text-align: left; width: 100%; }

.lost {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 64px;
  margin-bottom: 24px;
  text-align: center;
}

// top
main > .wrapper li {
  display: block;
  list-style-type: none;
  margin-bottom: 24px;
}

div.image_cont, div.map_cont {
  display: block;
}

div.image_cont span, div.map_cont span {
  display: block;
  margin: 2px 0px;
  text-align: left;
  font: {
    family: 'Varela Round', sans-serif;
    weight: 600;
    size: 18pt;
  }
}

div.image_cont {
  width: auto;
  // height: 360px;
  float:left;
}

div.image_cont .crop {
  max-width: 360px;
  height: 360px;
  overflow: hidden;
}

div.image_cont .crop > img {
  width: auto;
  height: 360px;
}


div.map_cont {
  width: auto;
  // height: 360px;
  overflow:hidden;
}

div.map_cont iframe {
  width: 100%;
  height: 360px;
}

p {
  text-align: left;
  font-size: 16pt;
}

iframe {
  display: block;
  background-color: $grey-100;
}

/* flyer */
.print { display: none; }
@media print {
  .print { display: initial; } .hide { display: none; }

  .lost {
    font-size: 80px;
    // margin: 0px;
  }


}





/* PARTIALS :D */

.med-post {
  width: 320px;
  height: 96px;
  margin: 8px;
  box-sizing: border-box;

  font-family: 'Roboto';
  text-align: left;

  .left, .right { display: block;}
  .left, .left img {
    height: 96px;
    width: 96px;
  }

  .left { float: left; }
  .right {
    width: auto;
    padding: 12px;
    padding-left: 108px;
    .title {
      display: block;
      font: {
        weight: bold;
        size: 24px;
      }
    }
    .info {
      font-weight: normal;
    }
  }
}







* {}
