// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// show pets page

table {
  width: 100%;
  font: {
    size: 18px;
  }
}

td, th {
  padding: 8px;
}
